body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

.flex-container {
  display: flex;
}

.flex-container-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.header-items {
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}

.headline-paragraphs {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  max-width: 87%;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

.works-title {
  font-family: 'Inter', sans-serif;
  text-align: center;
  max-width: 100%;
  font-size: 5px;
  margin: 0;
  padding: 0;
}

.aboutme-title {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  margin-top: 30px;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

#headline-bg {
  background-image: url("images/headerbg.svg");
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
}

#aboutme-bg {
  background-image: url("images/aboutmebg.svg");
  max-width: 100%;
  min-height: 375px;
  height: 100%;
  margin-top: 50px;
}

.flex-title-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.card-font {
  color: #3a4a42;
  font-size: 24px;
}

.techs-items-font {
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

nav ul li {
  padding: 11px;
  align-content: center;
}

nav ul li a {
  width: 20px;
  height: 20px;
}

aside a:hover {
  background-color: #36b37f;
}

aside a:active {
  background-color: #008552;
}

nav ul li a:hover {
  background-color: transparent;
  color: white;
}

div aside {
  list-style-type: none;
  margin: 70px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.round-bttn {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  background-color: white;
  border: 1px solid gray;
  border-radius: 60px;
  color: white;
  padding: 15px 19px;
  text-decoration: none;
  cursor: pointer;
}

.bttn {
  font-family: 'Inter', sans-serif;
  background-color: #36b37f; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 102px;
  margin-bottom: 15px;
  text-align: center;
}

.p1 {
  padding-top: 70px;
  color: #172b4d;
  font-size: 40px;
  font-weight: bolder;
  line-height: 52px;
}

.p2 {
  color: #172b4d;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.p3 {
  padding-top: 10px;
  color: #172b4d;
  font-size: 40px;
  font-weight: bolder;
  line-height: 52px;
}

.flex-item-1 {
  justify-content: center;
  height: 74px;
}

.flex-item-2 {
  align-content: center;
  justify-content: center;
  height: 74px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 54% 46%);
  background-color: #ebf0ee;
  grid-column-gap: 50px;
  min-height: 478px;
  margin: 20px 30px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  justify-items: center;
}

.grid-item-2 {
  border-radius: 8px;
  background-color: white;
  width: 100%;
}

.techs-items-basic {
  background-color: #ebf0ee;
  padding: 8px 12px;
  margin: 20px 3px;
  border-radius: 4px;
  text-align: center;
}

.techs-items-1 {
  flex: 4;
}

.techs-items-2 {
  flex: 1;
}

.techs-items-3 {
  flex: 2;
}

.techs-items-4 {
  flex: 1;
}

#cardTitle {
  padding-top: 15px;
}

#bttn-img {
  margin-bottom: 2px;
}

#header-welcome-link {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  width: 90px;
  color: #28352f;
}

#p4 {
  color: #36b37f;
  font-size: 40px;
  font-weight: bolder;
  line-height: 52px;
}

#works-div-1 {
  margin-bottom: 60px;
}

#aboutme-bttn {
  margin-top: 30px;
}
